@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply cursor-custom-link;
  }
  img {
    pointer-events: none;
  }
}

/* CAROUSEL */
.carusel-position {
  position: absolute;
  top: 49px;
  left: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.carusel-position .rec-slider-container {
  margin: 0;
}

/* CONTENT CONTAINER (to position next button on mobile)*/
.content-container {
  position: relative;
}
/* CONTACT MENU */
.bigger-icon-hover:hover > img {
  margin-left: 12px;
  width: 50px;
  height: 50px;
}

/* GREEN CORNERS FRAME */
.frame {
  --thickness: 4px;
  --corners-size: 40px;
  --corners-offsets: 5%;

  background:
    linear-gradient(to right, var(--color) var(--thickness), transparent 0) 0 0,
    linear-gradient(to left, var(--color) var(--thickness), transparent 0) 100%
      100%,
    linear-gradient(to bottom, var(--color) var(--thickness), transparent 0) 0 0,
    linear-gradient(to top, var(--color) var(--thickness), transparent 0) 100%
      100%;
  background-repeat: no-repeat;
  background-size: var(--corners-size) var(--corners-size);

  max-width: fit-content;
  transition: background 0.4s;
}

@media only screen and (min-width: 480px) {
  .frame:hover {
    background:
      linear-gradient(to right, var(--color) var(--thickness), transparent 0)
        var(--corners-offsets) var(--corners-offsets),
      linear-gradient(to left, var(--color) var(--thickness), transparent 0)
        calc(100% - var(--corners-offsets)) calc(100% - var(--corners-offsets)),
      linear-gradient(to bottom, var(--color) var(--thickness), transparent 0)
        var(--corners-offsets) var(--corners-offsets),
      linear-gradient(to top, var(--color) var(--thickness), transparent 0)
        calc(100% - var(--corners-offsets)) calc(100% - var(--corners-offsets));
    background-repeat: no-repeat;
    background-size: calc(var(--corners-size) - 15px)
      calc(var(--corners-size) - 15px);
  }
}
/* special only for project */
@media only screen and (max-width: 480px) {
  .frame-mobile:hover {
    background:
      linear-gradient(to right, var(--color) var(--thickness), transparent 0)
        var(--corners-offsets) var(--corners-offsets),
      linear-gradient(to left, var(--color) var(--thickness), transparent 0)
        calc(100% - var(--corners-offsets)) calc(100% - var(--corners-offsets)),
      linear-gradient(to bottom, var(--color) var(--thickness), transparent 0)
        var(--corners-offsets) var(--corners-offsets),
      linear-gradient(to top, var(--color) var(--thickness), transparent 0)
        calc(100% - var(--corners-offsets)) calc(100% - var(--corners-offsets));
    background-repeat: no-repeat;
    background-size: calc(var(--corners-size) - 15px)
      calc(var(--corners-size) - 15px);
  }
}

.frame-content {
  border: solid black 2px;
  margin: 25px;
}

/* PROJECTS DESCRIPTIONS */
.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(235, 235, 235, 0.95);
  color: black;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  white-space: normal;
}

.project-container:hover .text-overlay {
  border: solid white 2px;
  display: inline-block;
  height: 84%;
  overflow-y: scroll;
}

.project-container {
  position: relative;
}

/* change display on small screen */
@media (min-width: 640px) {
  @media not all and (min-width: 1024px) {
    .project-container:hover .text-overlay {
      height: 78%;
    }
  }
}

/* TOOLTIPS */

/* continaer with text */
.tooltip:before {
  content: attr(data-text);
  position: absolute;

  /* vertically center */
  bottom: 100%;
  transform: translateY(-20px);
  left: 0px;
  left: -85px;
  padding: 6px;

  /* basic styles */
  width: 260px;
  border: solid 2px black;
  background-color: rgba(235, 235, 235, 0.95);
  color: black;
  text-align: left;
  border-radius: 5px;
  font-size: medium;
  z-index: 10;

  /* animating */
  opacity: 0;
  transition: 0.3s opacity;
  pointer-events: none;
}

@media (min-width: 640px) {
  @media not all and (min-width: 1034px) {
    .tooltip:before {
      font-size: small;
      padding: 3px;
    }
  }
}

/* making the .tooltip span a container for the tooltip text */
.tooltip {
  position: relative;
}

/* arrow */
.tooltip:after {
  content: "";
  position: absolute;

  /* position tooltip correctly */
  left: 15px;

  bottom: 100%;
  transform: translateY(50%);

  /* the arrow */
  border: 20px solid;
  border-color: black transparent transparent transparent;

  /* animating */
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.tooltip:hover:before,
.tooltip:hover:after {
  display: block;
  opacity: 1;
}

@media (min-width: 1024px) {
  .tooltip:after {
    left: 25px;
  }
}

@media (max-width: 1024px) {
  .tooltip:before {
    left: -65px;
    width: 200px;
  }
}

/* ANIMATION CLASSES */
/* navbar */
@keyframes navbar {
  0% {
    top: -48px;
  }
  100% {
    top: 0;
  }
}

.navbar-animation {
  animation: navbar 0.5s ease-in-out 1s forwards;
}

/* footer */
@keyframes footer {
  0% {
    height: 0px;
    border-top-width: 0px;
  }
  100% {
    height: 16px;
    border-top-width: 2px;
  }
}

.footer-animation {
  animation: footer 0.5s ease-in-out 1s forwards;
}

/* contact-icons */
@keyframes contact-icons {
  0% {
    left: -26px;
  }
  100% {
    left: 10px;
  }
}

.contact-icons-animation {
  animation: contact-icons 0.5s ease-in-out 1s forwards;
}

/* next button */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.next-btn-animation {
  animation: fade-in 1s ease-in-out forwards;
}

.button-container:hover > .next-button {
  left: 40px;
  transform: scale(1.1) rotate(-45deg);
  transition:
    left 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.next-button {
  transform: rotate(-45deg);
  transition:
    left 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.button-container:hover > .next-button-right {
  left: -20px;
  transform: scale(1.1) rotate(-45deg);
  transition:
    left 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.next-button-right {
  transform: rotate(-45deg);
  transition:
    left 300ms ease-in-out,
    transform 300ms ease-in-out;
}

/* TABLE */
.table-container * {
  @apply cursor-custom;
}

.ag-header-cell-sortable .ag-header-cell-label {
  @apply cursor-custom;
}

@media only screen and (min-width: 480px) {
  /* table scrollbars */
  .ag-root ::-webkit-scrollbar {
    @apply cursor-custom;
    height: 10px;
    width: 10px;
  }
  .ag-root ::-webkit-scrollbar-track {
    background: #141616;
  }

  /* Handle */
  .ag-root ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .ag-root ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* browswer scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #141616;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
/* DARK THEME */
@media (prefers-color-scheme: dark) {
  .frame-content {
    border: solid #ffffff 2px;
  }
  .text-overlay {
    background-color: rgba(20, 22, 22, 0.95);
    color: white;
  }

  .tooltip:before {
    border: solid 2px white;
    background-color: #000;
    color: #fff;
  }

  .tooltip:after {
    /* arrow */
    border: 20px solid;
    border-color: white transparent transparent transparent;
  }
}

/* MOBILE LANDSCAPE */
@media only screen and (orientation: landscape) and (max-height: 480px) {
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../public/rotate-phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 30;
    background-color: #fff;
    background-position: center;
  }
}

@media only screen and (max-width: 880px) {
  .faster-wrap {
    max-width: 700px;
  }
}

@media screen and (orientation: portrait) {
  .mobile-table {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-image: url("/rotate-phone-portrait.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
  }
}

/* DISABLE BLUE MARK WHEN TAP LINK ON MOBILE */

.no-blue-tap {
  -webkit-tap-highlight-color: transparent;
}
